<header>
  <div class="header_top">
      <div class="container">
          <div class="row">
              <div class="offset3 seguir" style="float:right; position:relative;top:67px;">
                  <span  class="fecha" style="text-transform:uppercase;">{{diasSemana[hoy.getDay()]}} {{hoy.getDate()}} DE {{meses[hoy.getMonth()]}} DE {{hoy.getFullYear()}}</span> &nbsp;&nbsp;SEGUINOS EN&nbsp;&nbsp;|&nbsp;
                  <a href="http://www.facebook.com/CinemacenterArgentina"><img src="http://www.cinemacenter.com.ar/images/icon-facebook.png" alt="Facebook"></a>
                  <a href="http://twitter.com/intent/user?screen_name=cinemacenter3D"><img src="http://www.cinemacenter.com.ar/images/icon-twitter.png" alt="Twitter"></a>
                  <a  href="http://www.youtube.com/Webcinemacenter"><img src="http://www.cinemacenter.com.ar/images/icon-youtube.png" alt="YouTube"></a>
                  <a  href="https://www.instagram.com/cinemacenterarg/?hl=es-la"><img src="http://www.cinemacenter.com.ar/images/icon-insta_cc.png" alt="Instagram"></a>

              </div>
          </div>
          <app-nav-bar-superior></app-nav-bar-superior>
      </div>
  </div>
  <app-nav-bar-principal></app-nav-bar-principal>
</header>