<footer> 
  <div class="container">

      <div class="footer_sup" >
          
          <div class="row">

              <div class="span2"></div>
              <div class="span1"><h5>Cinemacenter</h5></div>
              <div class="span2">
                  <ul>
                      <li><a href="#" >Alta Gracia</a></li>
                      <li><a href="#" >Bah&iacute;a Blanca</a></li>
                      <li><a href="#" >Catamarca</a></li>
                      <li><a href="#" >Corrientes</a></li>
                      <li><a href="#" >Florencio Varela</a></li>
                      <li><a href="#" >La Rioja</a></li>
                      <li><a href="#" >Mar del Plata</a></li>
                      <li><a href="#" >Mendoza</a></li>
                  </ul>
              </div>
              <div class="span2">
                  <ul>
                      <li><a href="#" >Resistencia</a></li>
                      <li><a href="#" >Rio Cuarto</a></li>
                      <li><a href="#" >San Juan</a></li>
                      <li><a href="#"  class="active" >San Luis</a></li>
                      <li><a href="#" >Santiago del Estero</a></li>
                      <li><a href="#" >Tandil</a></li>
                      <li><a href="#" >Tucum&aacute;n</a></li>
                  </ul>
              </div>
              <div class="span1"><h5>Direcciones</h5></div>
              <div class="span2">
                  <ul>
                      <li>
                          <a href="#">San Luis</a><br />
                          Julio A. Roca y Presidente Perón<br />
                          <!--Tel 0266-4441001-->
                      </li>	
                  </ul>
              </div>


          </div>
          <div class="row"><a href="#">
              <img class="footer_logo" src="assets/img/logo_footer.png">
          </a></div>
      </div>
      <div class="footer_inf">
      <div class="row">
          <div class="span8 footer_menu">
              <a href="/inicio">Inicio |</a>
              <a href="/peliculas-en-cartelera">Cartelera |</a>
              <a href="/horarios">Horarios |</a>
              <a href="/proximos-estrenos">Pr&oacute;ximos Estrenos |</a>
              <a href="/precios">Precios |</a>
              <a href="/supercombos">Supercombos |</a>
              <a href="/contacto">Contacto |</a>
          </div>

          <div class="span2">
              <a href="http://www.dinamixstudio.com/"target="_blank"><img src="http://www.cinemacenter.com.ar/images/dinamix-studio.png" alt="DINAMIX | STUDIO" /></a>

          </div>


      </div>

      <div class="row">
          <div class="span12 footer_btom">
              <p>&copy; Copyright Cinema Center Argentina. Todos los derechos reservados.</p>
          </div>
      </div>
</div>
  </div>
</footer>