<app-anuncios></app-anuncios>
<div id="principal">
<div style="max-width: 40rem;">
<app-ficha-principal [texto_rojo]="'PELICULAS '" [texto_negro]="'EN CARTEL'"></app-ficha-principal>
<br>
<div class="tarjeta-pelicula" *ngFor="let p of this.carteleraActual.getPeliculas()">
        <div class="imagen-p">
                <img src="../../../../assets/img/peliculas/{{p.getId()}}.jpg" alt="hola">
        </div>

        <div class="descripcion-p">
                <img src="../../../../assets/img/estrella_roja.png">
                <b class="titulo-pelicula">{{p.getNombre()}}</b>
                <br>
                <span class="texto-gris">{{p.getResenia().slice(0,320)}}...</span>
                <br>
                <span class="atributo">Género: </span><span class="texto-gris">{{p.getGenero()}}</span><br>
                <span class="atributo">Director: </span><span class="texto-gris" *ngFor="let dirId of p.getDirectores()">{{this.bd.getDirectorPorId(dirId).getNombre()}} {{this.bd.getDirectorPorId(dirId).getApellido()}}</span><br>
                <span class="atributo">Protagonistas: </span><span class="texto-gris" *ngFor="let protagonista of p.getProtagonistas()">{{protagonista}}, </span><br>
                <span class="atributo">Calificación: </span><span class="texto-gris">{{p.getClasificacion()}}</span><br>
                <br>
        </div>


</div><!--cierre tarjeta-pelicula-->

</div>
</div>
<div id="banner-d">
        <app-barra-lateral></app-barra-lateral>
    
</div>