.titulo2{
    color:#FF0000;
    font-family: Georgia, 'Times New Roman', serif;
}

.seccion1{
    color:#464646;

}
.seccion2{
    color:#999393;

}

.titulo1{

    color:#665E5C;
    font-family: Georgia, 'Times New Roman', serif;

}