<div id="principal">
<div style="max-width: 40rem;">
    <app-ficha [titulo]="'CALIFICACIONES'" [subtitulo]="' · CINEMACENTER'" [pais]="' · ARGENTINA'" [imagen]="'icon-cca.png'"></app-ficha>
  
</div>

<article style="max-width: 40rem;">

    <section class="seccion1">
    <p><br>
    <b>* ATP</b>  - Apta para todo público.<br><br>
    
    <b>* ATP C/R</b> - Apta para todo público con reservas.<br><br>
    
    <b>* SAM 13</b> - Sólo apta para mayores de 13 años, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br>
    
    <b>* SAM 13 C/R</b> - Sólo apta para mayores de 13 años con reservas, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br>
    
    <b>* SAM 16</b> - Sólo apta para mayores de 16 años, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br>
    
    <b>* SAM 16 C/R</b> - Sólo apta para mayores de 16 años con reservas, <b>presentando D.N.I.</b> Los menores podrán ingresar en compañia de Padre, Madre o Tutor.<br><br>
    
    <b>* SAM 18 </b>- Sólo apta para mayores de 18 años, <b>presentando D.N.I.</b> Los menores de 18 años no podrán ingresar a la sala, aún en compañía de un adulto.<br><br>
    
     </p>
    </section>
    <section class ="seccion2">
    
      <span class="titulo1"><h3>Ingreso de menores con autorización firmada</h3></span><br>
      <span class="titulo2"><h4>Resolución 2890/2012 - INCAA</h4></span><br>
    
      <p>
        A partir de la Resolución 2890/2012, los menores podrán ingresar a películas SAM 13 y 16 acompañados de un adulto, que no sea uno de sus padres,<br> presentando una autorización firmada por ellos.
    
        Descargar formulario: <a href="#" >Aquí.</a>
      </p>
      </section>
    
    </article>

  </div>

  <div id="banner-d">
      <app-barra-lateral></app-barra-lateral>
  
  </div>