<div class="row">
    <div class="offset3" style="float:right; position:relative;top:70px;">
        <div class="navbar navbar-inverse barra_sup">

            <ul class="nav" style="padding-left: 20px;top:5px;">
                <li>
                    <a routerLink="/inicio" routerLinkActive="active" >INICIO</a>
                </li>
                <li><a routerLink="/empresa" routerLinkActive="active">LA EMPRESA</a></li>
                <li><a routerLink="/complejos" routerLinkActive="active">COMPLEJOS</a></li>
                <li><a routerLink="/recursos-humanos" routerLinkActive="active">RRHH</a></li>
                <li><a routerLink="/marketing" routerLinkActive="active">MARKETING</a></li>
                <li><a routerLink="/calificaciones" routerLinkActive="active">CALIFICACIONES</a></li>
                <li><a routerLink="/consideraciones-generales" routerLinkActive="active">CONSIDERACIONES GENERALES</a></li>

            </ul>
        </div>
    </div>
</div>