<div id="principal">
<div style="max-width: 40rem;">
    <app-ficha [titulo]="'COMPLEJOS'" [subtitulo]="' · CINEMACENTER'" [pais]="' · ARGENTINA'" [imagen]="'icon-cca.png'"></app-ficha>
    
<img src="../../../../assets/img/complejos.JPG">
<br>
<br>
<span id="titulo1">CINEMACENTER   </span> <span id="titulo2">   ARGENTINA </span>
<ul><li>Cinemacenter es la cadena de cines nacional más importante de Argentina.</li></ul>
<p class="texto-rojo">En la actualidad contamos con un total de 18 COMPLEJOS, sumando 89 SALAS de las cuales el 100% cuenta con tecnología digital.</p>

<p>Cinemacenter está presente en:</p>
<ul>
<li><a href="#">ALTA GRACIA (CÓRDOBA)</a></li>
<li><a href="#">BAHÍA BLANCA (BUENOS AIRES)</a></li>
<li><a href="#">CORRIENTES (CORRIENTES)</a></li>
<li><a href="#">FLORENCIO VARELA (BUENOS AIRES)</a></li>
<li><a href="#">LA RIOJA (LA RIOJA)</a></li>
<li><a href="#">MAR DEL PLATA (BUENOS AIRES)</a></li>
<li><a href="#">MENDOZA (MENDOZA)</a></li>
<li><a href="#">RESISTENCIA (CHACO)</a></li>
<li><a href="#">S. F. DEL VALLE DE CATAMARCA (CATAMARCA)</a></li>
<li><a href="#">SAN JUAN (SAN JUAN)</a></li>
<li><a href="#">SAN MIGUEL DE TUCUMÁN (TUCUMÁN)</a></li>
<li><a href="#">SAN LUIS (SAN LUIS)</a></li>
<li><a href="#">SANTIAGO DEL ESTERO (SANTIAGO DEL ESTERO)</a></li>
<li><a href="#">TANDIL (BUENOS AIRES)</a></li>
<li><a href="#">CINES DEL PASEO - RÍO CUARTO (CÓRDOBA)</a></li>
</ul>

</div>
</div>
<div id="banner-d">
        <app-barra-lateral></app-barra-lateral>
    
    </div>