<div id="principal">
    <app-ficha [titulo]="'EMPRESA'" [subtitulo]="' · CINEMACENTER'" [pais]="' · ARGENTINA'" [imagen]="'icon-cca.png'"></app-ficha>
    <p id="titulo1">Compañia con años de trayectoria</p>
        <div>

        <p class="texto-negro">Cine UNSL es un complejo de cine creado para el desarrollo de una aplicacion <br>
            web el cual estará conformado por la representacion de un sistema similar al de <br>
            "www.cinemacenter.com.ar" y "www.miboleteria.com.ar". Este sistema se basará en dichas <br>
            web mencionadas previamente, combinadas en una sola para cumplir los requisitos de <br>
            transacción, descarga e información.
        </p>
            Esta empresa esta representada por los alumnos del grupo:
            <ul>
                <li>Leonel Navarro</li>
                <li>Valeria Cuevas</li>
                <li>Manuel Nuñez</li>
                <li>Inalen Godoy</li>
                <li>Pedro Apellido</li>
            </ul> 


        </div>
    </div>

<div id="banner-d">
    <app-barra-lateral></app-barra-lateral>

</div>