<br>
<div id="myCarousel" class="carousel slide" style="margin-bottom: 0px;">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">

        <div class="active item">
            <img src="assets/img/pikachu.jpg" alt="">
            <div class="carousel-caption">
                <h4>POKEMON: DETECTIVE PICKACHU</h4>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/dumbo.jpg" alt="">
            <div class="carousel-caption">
                <h4>DUMBO</h4>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/avengers.jpg" alt="">
            <div class="carousel-caption">
                <h4>AVENGERS</h4>
            </div>
        </div>
        <div class="item">
            <img src="assets/img/llorona.jpg" alt="">
            <div class="carousel-caption">
                <h4>LA MALDICION DE LA LLORONA</h4>
            </div>
        </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
<img src="../../../assets/img/shadow-8.png" style="margin-bottom:0px;">
</div>
