.card .card-header{
    color: #d80b0b;
    background-color:#F8F8F8;
    font-family: myriad-pro,"Arial black", Arial;
    font-size: 25px;
    letter-spacing: -1px;
}

#subtitulo {
    color:black;
    font-size: 16px;
}

#subtitulo-pais {
    font-family: MyriadProLight,"Century Gothic",Arial;
    font-size: 14px;
    letter-spacing: -1px;
    color: #000;
}