#anuncio {margin-left: 30px;width:972px;}



.block_inf {
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 20px;
    background: white;
}

.fondo#consid{
    background: #f3f3f3;
    position: relative;
    top: -20px;
    left: -30px;
    width: 1020px;
    padding-top: 20px;
    padding-bottom: 732px;
    margin-bottom: -20px;
}
.cont{
    margin-left:30px;
}
#principal{
    background: #f3f3f3
}
#container_princ{
    background: #f3f3f3 !important;
}