<app-anuncios></app-anuncios>
<div id="principal">
<div style="max-width: 40rem;">
    <app-ficha [titulo]="'CONSIDERACIONES GENERALES'" [subtitulo]="' · CINEMACENTER'" [pais]="' · ARGENTINA'" [imagen]="'icon-cca.png'"></app-ficha>
    <div class="block_inf">
       <h4>A tener en cuenta</h4>
        <ol class="lista_estrella">
            <li>1. Los menores abonan entrada general desde los 2 años en complejo Alta Gracia. En los restantes complejos de la cadena desde los 3 años cumplidos.</li>
            <li>2. Daremos prioridad de atención a toda mujer embarazada y/o persona discapacitada en boleterías e ingresos.</li>
            <li>3. Le solicitamos controle su entrada y su vuelto cuando los reciba. Una vez que se haya retirado de la caja, no se aceptarán reclamos de cambio o devolución.</li>
            <li>4. Le recordamos conservar su entrada, es necesaria ante controles o reclamos de su parte.</li>
            <li>5. Le recordamos que sólo se podrá ingresar a la sala con productos adquiridos en nuestro Candy.</li>
            <li>6. Recuerde que no está permitido fumar en salas ni pasillos.</li>
            <li>7. Por favor apague su teléfono celular al ingresar a la sala.</li>
            <li>8. La programación puede sufrir modificaciones sin previo aviso.</li>
            <li>9. Cinemacenter se reserva el derecho de admisión y permanencia.</li>
            <li>10. La venta online de entradas para cinemacenter se realiza exclusivamente en <a href="#">www.miboleteria.com.ar</a></li>
            <li>11. Les recordamos que para realizar compras con tarjetas de crédito y/o débito deberá presentar un documento que acredite su identidad, de acuerdo con la ley 25065.</li>
            <li>12. Para retirar entradas adquiridas por <a href="#">www.miboleteria.com.ar</a> deberá presentar tarjeta del titular y DNI del mismo.</li>
            <li>13. Según el artículo 4 de la Ley 24.240 informamos a todos los clientes que en compras realizadas a través de <a href="#">www.miboleteria.com.ar</a> se aplicara service charge correspondiente determinado por el sitio web "Miboleteria".</li>
            <li>14. Los únicos documentos válidos para acreditar la identidad de las personas son la cédula de Identidad o el DNI emitidos por el Registro Nacional de las Personas, según la Ley N° 17.671</li>
        </ol>
    </div>
 </div>
</div>
<div id="banner-d">
        <app-barra-lateral></app-barra-lateral>
    
    </div>