.titulo1{
    color: #d80b0b;
    background-color:#F8F8F8;
    font-family: myriad-pro,"Arial black", Arial;
    letter-spacing: -1px;
}

.section1{

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 10px;
}

.section2{

    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.campos{
   
        background-color: #999393;
        border: 2px solid #A8A8A8;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #FFFFFF;
   
}
.campos::placeholder{
    color: #FFFFFF;
    text-align: right;
}

.datos1{

    color: #d80b0b;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight:bold;
}

.submit{

    color : #FFFFFF;
    background-color:  #d80b0b;
    border: 2px solid #d80b0b;
    height: 50px;
    font-weight:bold;
    width: 30;
}

.textarea1
 {
     width:30;
     height:100px;
     background-color: #999393;
     border: 2px solid #A8A8A8;
     font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
     font-size: 10px;
     color: #FFFFFF;
     
    }

    .form1{
        position: right;

    }