<app-anuncios></app-anuncios>
<div id="principal">
<div style="max-width: 40rem;">
    <app-ficha-principal [texto_rojo]="'SUPERCOMBOS '" [texto_negro]="' CINEMACENTER'"></app-ficha-principal>
    
</div>

<div style="max-width: 40rem;">
    <article>
        
        
        <img src="assets/img/supercombos/litroaladdin.jpg">
        <br>
        <h4> <strong>COMBO LITRO ALADDIN </strong> </h4>
        
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 1 Pop Mediano + 1 Vaso Película CON GASEOSA + 1 recarga pop</span></li>
            <li class="detalles">1 Pop Mediano + 1 Vaso Película CON GASEOSA + 1 recarga pop $240</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> Bahía Blanca-San Luis-La Rioja</li>
                        
        </ul>

    </article>
    <hr>
</div>

<div style="max-width: 40rem;">
    <article>
            
        <img src="assets/img/supercombos/latapremiumaladdin.jpg">
        <br>
        <h4> <strong>COMBO LATA PREMIUM ALADDIN </strong> </h4>
            
        <ul>
            <li class="detalles"><span class="remarca">Incluye: LATA C/VISOR + 2 GASEOSAS</span></li>
            <li class="detalles">LATA C/VISOR + 2 GASEOSAS = $500</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> Bahía Blanca-San Luis-La Rioja</li>
                    
        </ul>
    
        
    </article>
    <hr>
</div>

<div style="max-width: 40rem;">
    <article>
                        
        <img src="assets/img/supercombos/litropikachu.jpg">
        <br>
        <h4> <strong>COMBO LITRO PIKACHU </strong> </h4>
                
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 1 Pop Mediano + 1 Vaso Película CON GASEOSA + 1 recarga pop.</span></li>
            <li class="detalles">1 Bag Mediano de Pochoclos + 1 Vaso Litro Coleccionable con Gaseosa + 1 Recarga de Pochoclos: $240</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> Bahía Blanca-San Luis-La Rioja</li>
                        
        </ul>
        
    </article>
    <hr>
</div>
   
<div style="max-width: 40rem;">
    <article>
           
        <img src="assets/img/supercombos/medianoavengers.jpg">
        <br>
        <h4> <strong>COMBO MEDIANO AVENGERS </strong> </h4>
                    
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 1 Pop Mediano + 2 Gaseosas + 1 Llavero Avengers.</span></li>
            <li class="detalles">1 Pop Mediano + 2 Gaseosa + 1 Llavero Avengers: $400</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> San Luis</li>
                        
        </ul>
        
            
    </article>
    <hr>
</div>

<div style="max-width: 40rem;">
    <article>

        <img src="assets/img/supercombos/combofamiliar.jpg">
        <br>
        <h4> <strong>COMBO FAMILIAR </strong> </h4>
                        
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 2 Baldes Gigantes de pochoclos + 4 gaseosas + 1 cofler block.*</span></li>
            <li class="detalles">2 Baldes Gigante + 4 Gaseosas + 1 coffler: $390 *En Avalos(Resistencia) y en Altos del Solar(Catamarca), San Luis, Bahía Blanca , La Rioja y el combo se entrega con vasos de gaseosa.</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> Bahía Blanca-Catamarca-Resistencia-San Luis-Santiago del Estero-Tucuman-La Rioja</li>
                        
        </ul>
                
    </article>
    <hr>
</div>

<div style="max-width: 40rem;">
    <article>

        <img src="assets/img/supercombos/combomaximizado.jpg">
        <br>
        <h4> <strong>COMBO MAXIMIZADO </strong> </h4>
                            
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 1 Balde Gigante de Pochoclos + 2 Gaseosas.</span></li>
            <li class="detalles">1 Balde Gigante + 2 Gaseosas: $270 *En Avalos(Resistencia) y en Altos del Solar(Catamarca), San Luis, Bahía Blanca , La Rioja y el combo se entrega con vasos de gaseosa.</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> Bahía Blanca-Catamarca-Resistencia-San Luis-Santiago del Estero-Tucuman-La Rioja</li>
                        
        </ul>
                    
    </article>
    <hr>
</div>

<div style="max-width: 40rem;">
    <article>                        
        <img src="assets/img/supercombos/combopancho.jpg">
        <br>
        <h4> <strong>COMBO PANCHO </strong> </h4>
                                
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 1 Superpancho + 1 gaseosa.</span></li>
            <li class="detalles">1 Superpancho + 1 gaseosa : $120 *En Resistencia el producto solo está disponible para Cinemacenter Libertad.</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span>Resistencia-San Luis-La Rioja</li>
                        
        </ul>
                        
    </article>
    <hr>
</div>

<div style="max-width: 40rem;">
    <article>
                             
        <img src="assets/img/supercombos/combonachos.jpg">
        <br>
        <h4> <strong>COMBO NACHOS </strong> </h4>
                                    
        <ul>
            <li class="detalles"><span class="remarca">Incluye: 1 porción de nachos + 1 gaseosa + 1 recarga de queso.</span></li>
            <li class="detalles">1 porción de nachos + 1 gaseosa + 1 recarga de queso: $250</li>
            <br>
            <li class="detalles"><span class="remarca">Plazas en la que es válido:</span> Bahía Blanca-San Luis-La Rioja</li>
                        
        </ul>
                            
    </article>
    <hr>
</div>




<!--IMAGENES DEL FINAL-->
<div>
<section>
    <article>
        <div class="banner">
            <img src="assets/img/banner-cumple.png"><br>
            <img src="assets/img/banner-homemiboleteria.jpg">
        </div>
    </article>
</section>
</div>

</div>
<div id="banner-d">
        <app-barra-lateral></app-barra-lateral>
    
    </div>