<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container" >
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand logo" href="#" style="padding-left:135px; "><img src="assets/img/logo-cca2.png" ></a>
            <div class="nav-collapse collapse">
                <ul class="nav" style="margin-left:40px;">
                    <div class="span3"></div>
                    <li><a routerLink="/peliculas-en-cartelera" routerLinkActive="active">PELICULAS EN CARTELERA</a></li>
                    <li><a routerLink="/horarios" routerLinkActive="active">HORARIOS</a></li>
                    <li><a routerLink="/proximos-estrenos" routerLinkActive="active">PR&Oacute;XIMOS ESTRENOS</a></li>
                    <li><a routerLink="/precios" routerLinkActive="active">PRECIOS</a></li>
                    <li><a routerLink="/supercombos" routerLinkActive="active">SUPERCOMBOS</a></li>
                    <li><a routerLink="/contacto" routerLinkActive="active">CONTACTO</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
